:root {
  --cc-spacing-unit: 0.25rem;
  --cc-gutter-x: 4px;
  --cc-gutter-y: 0;
  --cc-font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --cc-color-white: #ffffff;
  --cc-color-black: #000000;
  --cc-color-slate: #64748b;
  --cc-color-gray: #6b7280;
  --cc-color-zinc: #71717a;
  --cc-color-neutral: #737373;
  --cc-color-stone: #78716c;
  --cc-color-red: #ef4444;
  --cc-color-orange: #f97316;
  --cc-color-amber: #f59e0b;
  --cc-color-yellow: #eab308;
  --cc-color-lime: #84cc16;
  --cc-color-green: #22c55e;
  --cc-color-emerald: #10b981;
  --cc-color-teal: #14b8a6;
  --cc-color-cyan: #06b6d4;
  --cc-color-sky: #0ea5e9;
  --cc-color-blue: #3b82f6;
  --cc-color-indigo: #6366f1;
  --cc-color-violet: #8b5cf6;
  --cc-color-purple: #a855f7;
  --cc-color-fuchsia: #d946ef;
  --cc-color-pink: #ec4899;
  --cc-color-rose: #f43f5e;
}
